server_name {{ name }}.com;
        location /{{ name }}/ {
        proxy_pass {{ protocol }}://{{ name }}/{{ path }};
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Real-PORT $remote_port;
}

